
body{
    font-family: sans-serif;
}

header{
    padding: 50px;
}

header h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 60px;
    white-space: nowrap;
}

main{
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
}

.contents li.show figcaption div,
.contents li.show figcaption p,
.contents li.show figure img{
    transform: none;
    opacity: 1;
}

.contents li{
    list-style: none;
    position: relative;
    margin-top: 200px;
    /*opacity: 0;
    transform: translateY(50px);
    transition: 1s;*/
}
/*
.contents li.show{
    opacity: 1;
    transform: none;
}
*/
.contents li:nth-of-type(odd){
    float: right;
}

.contents li:nth-of-type(even){
    float: left;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;
}

figcaption div{
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(240, 240, 240, 0.3);
    padding: 10px 20px;
    letter-spacing: 0.05em;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

figcaption p{
    line-height: 1.6;
    background-color: rgb(253, 253, 253);
    padding: 10px 10px;
    font-size: 12px;
    max-width: 340px;
    margin-top: 3px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

figure img {
    border-radius: 5px;
    display: block;          
    margin: 0px 0px 15px 0px; 
    width: 600px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 15px 0px #bebebe;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s 0.2s;
}

@keyframes titleAnimation{
    0%{
        letter-spacing: 0.1em;
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes logoAnimation{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes picAnimation{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
}

.pic img{
    position: relative;
    width: 30%;
    height: 30%;
    float: left;
    margin-top: 200px;
    margin-left: 200px;
    margin-bottom: 100px;
    padding: 50px;
    animation: picAnimation 3s;
}

.text{
    text-align: left;
    float: right;
    white-space: nowrap;
    margin-top: 300px;
    margin-right: 200px;
    margin-bottom: 300px;
    padding: 50px;
    animation: titleAnimation 3s;
}

logo img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover; 
    animation: logoAnimation 2s;
}
logotohome img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover; 
    animation: logoAnimation 2s;
}

/*
logo img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover; 
}
logotohome img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover; 
}


figure {
    display: block;  
    margin: 50px;
    background-color: #ffffff; 
}
figure img {
    display: block;          
    margin: 0px 0px 15px 0px; 
    width: 600px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 15px 0px #bebebe;
}
figcaption {
    width: 600px;
    height: 100px;
    font-size: 30px;  
    font-family: sans-serif;
	color: #2c323f;
    word-wrap: break-word;
    text-align: center;
}



html, body {
	font-size: 30px;
	font-family: serif;
	color: #1f1e1e;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: left; 
	background: #ffffff;
}
h1{
    text-indent: 1em;
    font-size: 50px;
    margin: 0px;
}
h2{
    margin-left: 2em;
    margin-top: 2em;
}
h3{
    margin-left: 3em;
}
h5{
    text-indent: 0em;
}
p{
    margin-left: 2em;
    margin-right: 2em;
}
span.blackback{
    text-indent: 6em;
    background: #273250;
    color: #efefef;
}

*/