logo img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}
logotohome img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover; /* 画像のトリミング */
}

/* トップページの一覧に関するスタイル----------------------------------------------*/
figure {
    display: block;   /* インラインブロック化 */
    margin: 50px; /* 外側に余白を追加(※右に3px・下に7px) */
    background-color: #ffffff; 
}
figure img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px 0px 15px 0px; /* 下側にだけ3pxの余白を追加 */
    width: 600px;
    height: 400px;
    object-fit: cover; /* 画像のトリミング */
    box-shadow: 0px 0px 15px 0px #bebebe;
}
figcaption {
    width: 600px;
    height: 100px;
    font-size: 30px;        /* 文字サイズを90%に */
    font-family: sans-serif;
	color: #2c323f;
    word-wrap: break-word;
    text-align: center;
}

.arduino{
    float: left;
}
.python{
    float: right;
}

.HTML{
    float: left;
}

.FAB{
    float: right;
}

.etc{
    float: left;
}

.text{
    text-align: left;
    float: right;
    display: block;
    margin: 150px;
}

/* ---------------------------------------------------------------------------*/


/* ========== common ========== */
html, body {
	font-size: 30px;
	font-family: serif;
	color: #1f1e1e;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: left; 
	background: #ffffff;
}
h1{
    text-indent: 1em;
    font-size: 50px;
    margin: 0px;
}
h2{
    margin-left: 2em;
    margin-top: 2em;
}
h3{
    margin-left: 3em;
}
h5{
    text-indent: 0em;
}
p{
    margin-left: 2em;
    margin-right: 2em;
}
span.blackback{
    text-indent: 6em;
    background: #273250;
    color: #efefef;
}



