@charset "utf-8";

body{
    font-family: sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    z-index: 9999;
}
  
header.active {
    opacity: 1;
    visibility: visible;
    transform: none;
    box-shadow: 0 2px 2px #ccc;
    background-color: #fff;
}
  
header img {
    width: 10%;
    height: 65px;
    margin-left: 20px;
}
  
header nav ul {
    display: flex;
}
  
header nav ul a {
    font-size: 18px;
    padding: 10px;
}
  
header nav ul li:not(:first-of-type) {
    margin-left: 25px;
}
  
header .tel {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
    color: #fff;
    background-color: #252525;
    font-size: 16px;
}

.swiper-container{
    animation: slideAnimation 3s;
    margin-bottom: 300px;
}

.swiper-slide{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-slide.slide1{
    background-image: url(../images/index/slide_1_real.jpg);
}
.swiper-slide.slide2{
    background-image: url(../images/index/slide2.jpg);
}
.swiper-slide.slide3{
    background-image: url(../images/index/slide3-2.jpg);
}
.swiper-slide.slide4{
    background-image: url(../images/index/slide4-2.jpg);
}
  

.big{
    font-family: "YuKyokasho";
    margin-top: 300px;
    margin-bottom: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 3s;
}

.big.show{
    transform: none;
    opacity: 1;
}

.big .sports{
    font-size: 60px;
    font-weight: bold;
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.big h1{
    font-size: 80px;
    font-weight: bold;
    width:90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.big .future{
    font-size: 60px;
    font-weight: bold;
    width:90%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
}

main{
    max-width: 80%;
    width: 100%;
    margin: 50px auto;
}

.contents li.show figcaption div,
.contents li.show figcaption p,
.contents li.show figure img{
    transform: none;
    opacity: 1;
}

.pic.show{
    transform: none;
    opacity: 1;
}

.text li:before {
    content:  "";     /* 空の要素作成 */
    width:  10px;               /* 幅指定 */
    height:  10px;              /* 高さ指定 */
    display:  inline-block;     /* インラインブロックにする */
    background-color: #435b70;  /* 背景色指定 */
    border-radius:  80%;        /* 要素を丸くする */
    position:  relative;        /* 位置調整 */
    top: -1px;                  /* 位置調整 */
    margin-right: 5px;          /* 余白指定 */
}

.pic{
    display: flex;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: 3s;
}

.pic img{
    width: 30%;
    height: 30%;
    padding: 50px;
}

.text{
    white-space: nowrap;
    padding: 50px;
}

.text h1{
    font-size: 30px;
    font-weight: bold;
}

.text h2{
    font-size: 20px;
    font-weight: bold;
}

.text li{
    padding: 10px;
    font-size: 20px;
}


.contents li{
    list-style: none;
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;
}

.contents li:nth-of-type(odd){
    float: right;
}

.contents li:nth-of-type(even){
    float: left;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;
}

figcaption div{
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    background-color: rgba(240, 240, 240, 0.3);
    padding: 10px 20px;
    letter-spacing: 0.05em;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

figcaption p{
    line-height: 1.6;
    background-color: rgb(253, 253, 253);
    padding: 10px 10px;
    font-size: 12px;
    max-width: 340px;
    margin-top: 3px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

figure img {
    border-radius: 5px;
    display: flex;          
    width: 600px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 15px 0px #bebebe;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s 0.2s;
}

.last{
    background-color: rgb(31, 31, 31);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.last img{
    display: block;
    padding: 50px;
    width: 20%;
    height: 20%;
}

.last h5{
    color: #fff;
    display: block;
    white-space: nowrap;
    padding: 50px;
    font-size: 15px;
}

@keyframes slideAnimation{
    0%{
        opacity: 0;
    }
}

@media screen and (max-width: 1230px){
    .swiper-slide{
        height: 680px;
    }
}

@media screen and (max-width: 1160px){
    .swiper-slide{
        height: 650px;
    }
}

@media screen and (max-width: 1075px){
    .swiper-slide{
        height: 630px;
    }
}

@media screen and (max-width: 1024px){

    header img {
        height: 45px;
    }

    .swiper-slide{
        height: 100vh;
        width: 100%;
    }

    .swiper-slide.slide1{
        background-image: url(../images/index/slide1_ipad.jpg);
    }
    .swiper-slide.slide2{
        background-image: url(../images/index/slide2_ipad_real.jpg);
    }
    .swiper-slide.slide3{
        background-image: url(../images/index/slide3_ipad_real.jpg);
    }
    .swiper-slide.slide4{
        background-image: url(../images/index/slide4_ipad.jpg);
    }

    .big .sports{
        font-size: 50px;
        padding: 5px;
    }
    .big h1{
        font-size: 70px;
        padding: 5px;
    }
    
    .big .future{
        font-size: 50px;
        padding: 5px;
    }

    .text h1{
        font-size: 25px;
        padding: 10px;
    }
    
    .text h2{
        font-size: 23px;
        padding: 10px;
    }

    .text li{
        font-size: 20px;
        padding: 15px;
    }


    .pic img{
        width: 40%;
        height: 40%;
        padding: 5px;
    }

    .text{
        padding: 5px;
    }

    .contents li:nth-of-type(odd){
        float: none;
    }
    
    .contents li:nth-of-type(even){
        float: none;
    }

    figure{
        display: flex;
    }

    figcaption{
        display: flex;
    }

    figure img {
        display: block;
        width: 100%;
    }

    .last img{
        display: block;
        padding: 30px;
        width: 20%;
        height: 20%;
    }
    
    .last h5{
        display: block;
        white-space: nowrap;
        padding: 30px;
        font-size: 15px;
    }
    
}


@media screen and (max-width: 768px){

    header img {
        height: 45px;
    }
        
    header nav ul a {
        font-size: 14px;
    }

    .big .sports{
        font-size: 30px;
        padding: 5px;
    }
    .big h1{
        font-size: 40px;
        padding: 5px;
    }
    
    .big .future{
        font-size: 30px;
        padding: 5px;
    }

    .text h1{
        font-size: 18px;
    }
    
    .text h2{
        font-size: 16px;
    }

    .text li{
        font-size: 14px;
        padding: none;
    }


    .pic img{
        width: 50%;
        height: 50%;
        padding: 5px;
    }

    .text{
        padding: 5px;
    }

    .contents li:nth-of-type(odd){
        float: none;
    }
    
    .contents li:nth-of-type(even){
        float: none;
    }

    figure{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    figcaption {
        display: block;
        flex-direction: none;
        align-items: none;
        position: none;
        top: 0px;
    }

    figure img {
        display: block;          
        width: 100%;
        height: 400px;
    }

    .swiper-slide.slide1{
        background-image: url(../images/index/slide1_ipad.jpg);
    }
    .swiper-slide.slide2{
        background-image: url(../images/index/slide2_ipad_real.jpg);
    }
    .swiper-slide.slide3{
        background-image: url(../images/index/slide3_ipad_real.jpg);
    }
    .swiper-slide.slide4{
        background-image: url(../images/index/slide4_ipad.jpg);
    }


    .last img{
        display: block;
        padding: 30px;
        width: 20%;
        height: 20%;
    }
    
    .last h5{
        display: block;
        white-space: nowrap;
        padding: 30px;
        font-size: 15px;
    }
    
}

@media screen and (max-width: 428px){

    header {
        height: 50px;
      }

    header img {
        height: 55%;
        width: 15%;
        margin-left: 10px;
    }
        
    header nav ul a {
        font-size: 8px;
        padding: 3px;
    }
        
    header .tel {
        width: 50px;
        font-size: 7px;
    }

    .swiper-slide{
        height: 100vh;
    }

    .swiper-slide.slide1{
        background-image: url(../images/index/slide1_iphone.jpg);
    }
    .swiper-slide.slide2{
        background-image: url(../images/index/slider2_iphone.jpg);
    }
    .swiper-slide.slide3{
        background-image: url(../images/index/slider3_iphone.jpg);
    }
    .swiper-slide.slide4{
        background-image: url(../images/index/slider4_iphone.jpg);
    }

    .big .sports{
        font-size: 20px;
        padding: 3px;
        height: 50px;
    }
    .big h1{
        font-size: 27px;
        padding: 3px;
        height: 50px;
    }
    
    .big .future{
        font-size: 20px;
        padding: 3px;
        height: 50px;
    }
    
    .text li:before {
        width:  5px;               /* 幅指定 */
        height:  5px;              /* 高さ指定 */
        top: -1px;                  /* 位置調整 */
        margin-right: 2px;          /* 余白指定 */
    }

    .text h1{
        font-size: 12px;
        padding: 3px;
        margin-bottom: 2px;
    }

    .text br{
        display: none;
    }
    
    .text h2{
        margin-top: 20px;
        font-size: 10px;
        padding: 3px;
    }

    .text li{
        font-size: 8px;
        padding: 1px;
    }


    .pic img{
        width: 35%;
        height: 35%;
        padding: 3px;
    }

    .text{
        padding: 3px;
    }
    .contents li:nth-of-type(odd){
        float: none;
    }
    
    .contents li:nth-of-type(even){
        float: none;
    }

    figure{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    figure img {
        display: block;          
        width: 100%;
        height: 200px;
    }

    figcaption {
        display: block;
        flex-direction: none;
        align-items: none;
        position: none;
        top: 0px;
    }

    figcaption div{
        font-size: 12px;
        white-space: nowrap;
        padding: 5px 10px;
    }
    
    figcaption p{
        padding: 5px 5px;
        font-size: 8px;
        max-width: 340px;
        margin-top: 3px;
    }

    .last{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .last img{
        display: block;
        padding: 15px;
        width: 20%;
        height: 20%;
    }
    
    .last h5{
        display: block;
        white-space: nowrap;
        padding: 15px;
        font-size: 10px;
    }
}

@media screen and (max-width: 414px){

    header {
        height: 50px;
      }

    header img {
        height: 55%;
        width: 15%;
        margin-left: 10px;
    }
        
    header nav ul a {
        font-size: 8px;
        padding: 3px;
    }
        
    header .tel {
        width: 50px;
        font-size: 7px;
    }

    .swiper-slide{
        height: 100vh;
    }

    .swiper-slide.slide1{
        background-image: url(../images/index/slide1_iphone.jpg);
    }
    .swiper-slide.slide2{
        background-image: url(../images/index/slider2_iphone.jpg);
    }
    .swiper-slide.slide3{
        background-image: url(../images/index/slider3_iphone.jpg);
    }
    .swiper-slide.slide4{
        background-image: url(../images/index/slider4_iphone.jpg);
    }

    .big .sports{
        font-size: 20px;
        padding: 3px;
        height: 50px;
    }
    .big h1{
        font-size: 27px;
        padding: 3px;
        height: 50px;
    }
    
    .big .future{
        font-size: 20px;
        padding: 3px;
        height: 50px;
    }
    
    .text li:before {
        width:  5px;               /* 幅指定 */
        height:  5px;              /* 高さ指定 */
        top: -1px;                  /* 位置調整 */
        margin-right: 2px;          /* 余白指定 */
    }

    .text h1{
        font-size: 12px;
        padding: 3px;
        margin-bottom: 2px;
    }

    .text br{
        display: none;
    }
    
    .text h2{
        margin-top: 20px;
        font-size: 10px;
        padding: 3px;
    }

    .text li{
        font-size: 8px;
        padding: 1px;
    }


    .pic img{
        width: 35%;
        height: 35%;
        padding: 3px;
    }

    .text{
        padding: 3px;
    }
    .contents li:nth-of-type(odd){
        float: none;
    }
    
    .contents li:nth-of-type(even){
        float: none;
    }

    figure{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    figure img {
        display: block;          
        width: 100%;
        height: 200px;
    }

    figcaption {
        display: block;
        flex-direction: none;
        align-items: none;
        position: none;
        top: 0px;
    }

    figcaption div{
        font-size: 12px;
        white-space: nowrap;
        padding: 5px 10px;
    }
    
    figcaption p{
        padding: 5px 5px;
        font-size: 8px;
        max-width: 340px;
        margin-top: 3px;
    }

    .last{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .last img{
        display: block;
        padding: 15px;
        width: 20%;
        height: 20%;
    }
    
    .last h5{
        display: block;
        white-space: nowrap;
        padding: 15px;
        font-size: 10px;
    }
}

@media screen and (max-width: 375px){

    header {
        height: 50px;
      }

    header img {
        height: 20px;
        margin-left: 5px;
    }
        
    header nav ul a {
        font-size: 5px;
        padding: 3px;
    }
        
    header .tel {
        width: 50px;
        font-size: 4px;
    }

    .swiper-slide.slide1{
        background-image: url(../images/index/slide1_iphone.jpg);
    }
    .swiper-slide.slide2{
        background-image: url(../images/index/slider2_iphone.jpg);
    }
    .swiper-slide.slide3{
        background-image: url(../images/index/slider3_iphone.jpg);
    }
    .swiper-slide.slide4{
        background-image: url(../images/index/slider4_iphone.jpg);
    }

    .big .sports{
        font-size: 20px;
        padding: 3px;
        height: 50px;
    }
    .big h1{
        font-size: 27px;
        padding: 3px;
        height: 50px;
    }
    
    .big .future{
        font-size: 20px;
        padding: 3px;
        height: 50px;
    }
    
    .text li:before {
        width:  5px;               /* 幅指定 */
        height:  5px;              /* 高さ指定 */
        top: -1px;                  /* 位置調整 */
        margin-right: 2px;          /* 余白指定 */
    }

    .text h1{
        font-size: 12px;
        padding: 3px;
        margin-bottom: 2px;
    }

    .text br{
        display: none;
    }
    
    .text h2{
        margin-top: 20px;
        font-size: 10px;
        padding: 3px;
    }

    .text li{
        font-size: 8px;
        padding: 1px;
    }


    .pic img{
        width: 35%;
        height: 35%;
        padding: 3px;
    }

    .text{
        padding: 3px;
    }
    .contents li:nth-of-type(odd){
        float: none;
    }
    
    .contents li:nth-of-type(even){
        float: none;
    }

    figure{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    figure img {
        display: block;          
        width: 100%;
        height: 200px;
    }

    figcaption {
        display: block;
        flex-direction: none;
        align-items: none;
        position: none;
        top: 0px;
    }

    figcaption div{
        font-size: 12px;
        font-weight: bold;
        padding: 5px 10px;
    }
    
    figcaption p{
        padding: 5px 5px;
        font-size: 8px;
        max-width: 340px;
        margin-top: 3px;
    }

    .last{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .last img{
        display: block;
        padding: 15px;
        width: 15%;
        height: 20%;
    }
    
    .last h5{
        display: block;
        white-space: nowrap;
        padding: 15px;
        font-size: 10px;
    }
    
}

@media screen and (max-width: 320px){

    header {
        height: 50px;
    }

    header img {
        height: 20px;
        margin-left: 5px;
    }
        
    header nav ul a {
        font-size: 5px;
        padding: 3px;
    }
        
    header .tel {
        width: 50px;
        font-size: 4px;
    }

    .swiper-slide.slide1{
        background-image: url(../images/index/slide1_iphone.jpg);
    }
    .swiper-slide.slide2{
        background-image: url(../images/index/slider2_iphone.jpg);
    }
    .swiper-slide.slide3{
        background-image: url(../images/index/slider3_iphone.jpg);
    }
    .swiper-slide.slide4{
        background-image: url(../images/index/slider4_iphone.jpg);
    }

    .big .sports{
        font-size: 15px;
        padding: 1px;
        height: 50px;
    }
    .big h1{
        font-size: 25px;
        padding: 1px;
        height: 50px;
    }
    
    .big .future{
        font-size: 15px;
        padding: 1px;
        height: 50px;
    }

    .pic img{
        width: 35%;
        height: 35%;
        padding: 1px;
    }

    .text{
        padding: 1px;
    }

    .text h1{
        font-size: 8px;
        padding: 1px;
        margin-bottom: 2px;
    }

    .text br{
        display: none;
    }
    
    .text h2{
        margin-top: 20px;
        font-size: 6px;
        padding: 5px;
    }

    .text li{
        font-size: 4px;
        padding: 2px;
    }
    
    .text li:before {
        width:  5px;               /* 幅指定 */
        height:  5px;              /* 高さ指定 */
        top: -1px;                  /* 位置調整 */
        margin-right: 5px;          /* 余白指定 */
    }

    .contents li:nth-of-type(odd){
        float: none;
    }
    
    .contents li:nth-of-type(even){
        float: none;
    }

    figure{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    figure img {
        border-radius: 5px;
        display: block;          
        width: 80%;
        height: 130px;
    }

    figcaption {
        display: block;
        flex-direction: none;
        align-items: none;
        position: none;
        top: 0px;
    }

    figcaption div{
        font-size: 12px;
        font-weight: bold;
        padding: 5px 10px;
    }
    
    figcaption p{
        padding: 5px 5px;
        font-size: 8px;
        max-width: 340px;
        margin-top: 3px;
    }

    .last{
        height: 70px;
    }

    .last img{
        padding: 3px;
        width: 15%;
        height: 35%;
        margin-right: 10px;
    }
    
    .last h5{
        padding: 3px;
        font-size: 3px;
    }

    
}